<div class="main">

  <div class="container">

    <div class="col-md-8">
      <!--<div class="main-block">-->
        <!--asd-->
      <!--</div>-->
    </div>
    <div class="col-md-4">
      <div class="main-block">

        <%= form_tag do %>
        <%= text_field_tag :name, '',  placeholder: 'Ваше имя*' %>
        <%= phone_field_tag :phone, '', placeholder: 'Номер телефона*' %>
            <%= submit_tag 'Оставить заявку' %>
        <% end %>

      </div>
    </div>

  </div>

</div>



<!--<div class="service">-->

  <!--<div class="container">-->

    <!--<div class="col-md-12">-->
      <!--<div class="title">-->
        <!--Чем мы занимаемся / Что мы делаем-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-4">-->
      <!--<div class="text">-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-8">-->
      <!--<div class="block">-->

      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

<!--</div>-->


<div class="contacts">
  <div class="container">

    <div class="col-md-12">
      <div class="title">
        Наши контакты
      </div>
    </div>

    <div class="col-md-4">
      <div class="text">
        <div class="contact-info">
          <span class="bold">Адрес:</span> ул. Чистопольская 77/2, Казань, Респ. Татарстан, Россия, 421001
        </div>
        <div class="contact-info">
          <span class="bold">Тел:</span> +7 (902) 715-32-46
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="map-block">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1120.7106680517072!2d49.15050797618156!3d55.82064579511905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415eb2a68f2f6fcd%3A0x9cd0691c00a9814f!2sTopStartMedia!5e0!3m2!1sru!2sru!4v1503410993945" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

  </div>

</div>
