header {

  //background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  padding-right: 40px;
  padding-left: 60px;
  .items {

    font-size: 20px;

    display: inline-block;
    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline-flex;
        vertical-align: middle;
        line-height: 40px;
        //margin-right: 60px;
        //margin-bottom: 20px;
        //margin-top: 20px;
        //margin-left: 80px;

        &::after {
          content: '|';
          margin-left: 30px;
          margin-right: 30px;
          font-size: 40px;
          line-height: 40px;
        }
      }

      display: inline-block;
    }
  }

  .phone-numbers {
    float: right;
    font-size: 24px;
    display: inline-block;
    margin-right: 80px;
    line-height: 40px;
  }

}