
.main {
  background: image_url('background.jpg') 50% 50%;
  background-size: cover;

  width: 100%;
  height: 600px;
  padding-top: 90px;


  .main-block {
    color: white;
    padding: 10px;

    background-color: rgba(0,0,0,0.2);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    border: solid rgba(255,255,255,0.8) 1px;
  }
  form {
    text-align: center;
    font-size: 16px;
    input {
      background: rgba(0, 0, 0, 0);
      border: none;
      color: #fff;
      width: 90%;
      border-bottom: solid 1px #fff;
      margin: 10px;
      &::placeholder {
        color: rgba(200, 200, 200, 1);
      }
      &[type="submit"] {
        color: #fff;
        border-color: #fff;
        border-radius: 8px;
        border: solid 1px;
        border-bottom-width: 3px;
        width: 50%;
        padding-top: 3px;
        background: rgba(100, 100, 100,0.5);
      }
    }
    
  }

}

.title {
  margin: 30px 0  30px 0;
  font-size: 27px;
  color: rgb(199, 129, 35);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3)
}
.map-block {
  padding: 0px;
  background-color: #cccccc;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  margin: 0 0 25px 0;
}
.service {
  background-color: #f9f9f9;
  height: 600px;
  //padding-top: 50px;
  text-align: center;


  .text {
    height: 100%;
  }
  .block {
    padding: 15px;
    background-color: #cccccc;
    height: 200px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  }
}

span.bold {
  font-weight: bold;
}
.contacts {
  text-align: center;
  background-color: #f2f2f2;

  .contact-info {
    text-align: left;
    margin-bottom: 10px;
    font-size: 19px;
  }

}


//background