<header>
  <div class="items">
    <ul>
      <li>
        Главная
      </li>
      <li>
        Услуги
      </li>
      <li>
        О нас
      </li>
      <li>
        Контакты
      </li>
    </ul>
  </div>
  <div class="phone-numbers">
    +7 (902) 715 32 46
  </div>
</header>

